img {
    object-fit: cover;
}
ion-fab-button{
    --box-shadow:0px;
    --background: transparent;
    --color-activated:black;
    --color-focused:black;
    --color:black;
    --color-hover:black;
}
.icoCal{
    font-size: 30px;
}