<ion-header>
  <ion-toolbar>
    <ion-title>
      Llamadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab horizontal="end" slot="fixed" edge="true">
  <ion-fab-button size="small">
    <ion-icon name="ellipsis-vertical"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="light">
      <ion-icon class="icoCal" name="calculator"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-avatar>
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
      </ion-avatar>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content fullscreen>
 <p>Llamadas works!</p>
</ion-content>