div {
    margin: auto;
    text-align: center;
}
.imagepubli{
    max-width: 80%;
    max-height: 225px;
}
.slidecont{
    padding-left: 10px;
    padding-right: 10px;
}

.slide{
    margin-top: 15px;
    margin-bottom: 15px;
}