<ion-card>
  <ion-item lines="full">
    <ion-label position="floating">Contraseña actual</ion-label>
    <ion-input type="password" [(ngModel)]="pass" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Nueva contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="newPass" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Confirmar contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="verifyPass" required></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="changePass();">Confirmar</ion-button>
    </ion-col>
  </ion-row>
</ion-card>