.centered-item {
  margin: auto;
  text-align: center;
}

.card-image {
  margin-top: 4%;
  border-radius: 12%;
  height: auto;
  width: 70vw;
  border: 8px solid rgba(245, 245, 245, 1);
}

.buttons-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-name {
  color: rgba(15, 24, 40, 1);
  font-weight: 350;
  margin-top: -2%;
}

ion-icon {
  color: rgba(15, 24, 40, 1);
}

ion-button {
  --box-shadow: none;
}

ion-button:active {
  ion-icon {
    color: rgba(0, 45, 227, 1) !important;
  }
}